/*Service media query */


@media (min-width:260px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:280px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
    }
  
  }

@media (min-width:300px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:310px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:345px) {
    .service-card-containor{
      /* border: 1px solid black;  */
      height: auto;
      width: 100%
    }
         
    .serviceCards-holder{
        /* border: 1px solid rgb(104, 24, 24); */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }

@media (min-width:354px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }

@media (min-width:360px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }

@media (min-width:370px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:375px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:500px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: column;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
@media (min-width:645px) {
    .service-card-containor{
  /*      
      border: 1px solid black; */
      height: auto;
      width: 100%
  
  
    }
          .serviceCards-holder{
        /* border: 1px solid black; */
        width: 100%;
        flex-direction: row;
       align-items: center; 
      justify-content: space-evenly; 
  
    }
  
  }
  
  @media (min-width:768px) {
    .service-card-containor{
            /* border: 1px solid rgb(240, 12, 12);  */
            height: auto;
            width: 100%;
          }
                .serviceCards-holder{
             /* border: 1px solid rgb(255, 3, 3);  */
              width: 100%;
              flex-direction: row;
              flex-wrap: wrap;
             align-items: center; 
            justify-content: space-evenly; 
        
          }
        
        }
    
  @media (min-width:1024px) {
    .service-card-containor{
      padding-top: 50px;
      width: 100%;
    }
    .serviceCards-holder{
      /* border: 1px solid black; */
      width: 100%;
      flex-direction: row;
  }
  }
  
  @media (min-width:1280px) {
    .service-card-containor{
      padding-top: 50px;
      width: 99vw;
    }
    .serviceCards-holder{
      /* border: 1px solid black; */
      width: 99vw;
      flex-direction: row;
  }
  }
  
  @media (min-width:1550px) {
  
    .service-card-containor{
      width: 99vw;

      padding-top: 50px;
    }
    .serviceCards-holder{
      /* border: 1px solid black; */
      width: 99vw;
      flex-direction: row;
  }
  }
  
  @media (min-width:1536px) {
  
    .service-card-containor{
      width: 99vw;

      padding-top: 50px;
    }
    .serviceCards-holder{
      /* border: 1px solid black; */
      width: 99vw;
      flex-direction: row;
  }
  }
  
  @media (min-width:1600px) {
  
    .service-card-containor{
      width: 99vw;

      padding-top: 50px;
    }
    .serviceCards-holder{
      /* border: 1px solid black; */
      width: 99vw;
      flex-direction: row;
  }
  }
  
  