.about-containor {
  /* border: 1px solid black; */
  height: auto;
  width: 99vw;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to left bottom, #1973fa, #765dff, #ae4ffc, #e93eff, #f807d8);
}

.about-heading {
  /* border: 1px solid black; */
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  padding: 1rem;
  word-spacing: 0.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
}
.about-subcontainor {
  /* border: 1px solid black; */
  height: 20vh;
  width: 60vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}


.about-text {
  /* border: 1px solid black; */
  text-align: justify;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  word-spacing: 0.1rem;
}

.icons{
  font-size: 2.2rem;
  padding: 0.2rem;
}

.customers-containor {
    height: 20vh;
    width: 60vw;
    padding: 2rem;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.happy-customers {
  /* border: 1px solid black; */
  height: 10vh;
  width: 15vw;
  padding: 2rem;
  display: flex;
  flex-direction:column;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  font-size: 1.2rem;
  /* box-shadow: 0px 0px 4px rgb(255, 254, 254); */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* box-sizing: border-box; */
}

.total-customers {
    /* border: 1px solid black; */
    height: 10vh;
    width: 15vw;
    padding: 2rem;
    display: flex;
    flex-direction:column;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    font-size: 1.2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* box-shadow: 0px 0px 4px rgb(250, 250, 250); */
}

/* about media query */

@media (min-width: 370px) {

  /* .about-containor {
    justify-content: space-evenly;
    } */


    .about-heading {
      /* border: 1px solid black; */
      text-align: center;
      text-transform: capitalize;
      font-size: 2rem;
      padding: 1rem;
      word-spacing: 0.5rem;
      font-weight: 900;
      margin-top: 0.5rem;
    }
  .about-subcontainor {
     /* border: 1px solid black;  */
    height:55vh;
    width: 80vw;
    padding: 0.5rem; 
  }
  .about-text {
    /* border: 1px solid black; */
    text-align: justify;
    font-size: 1rem;
    padding: 0.5rem;
    word-spacing: 0.1rem;
  }
  .icons{
    /* font-size: 1.4rem; */
    /* padding: 0.2rem; */
  }
  
  .customers-containor {
    
      height: 80vh;
      width: 80vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid black; */
  }
  
  .happy-customers {
    height: 15vh;
    width: 50vw;
    font-size: 1.1rem;
   
  }
  
  .total-customers {
   
    height: 15vh;
    width: 50vw;
    font-size: 1.1rem;
      /* border: 1px solid black; */
      
  }
  
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
