
.menu-outer{
 /* border: 1px solid black; */
 height: auto;
 width: 99vw;
 /* padding: 2rem; */
 display: flex;
 flex-direction:column;
 flex-wrap: nowrap;
 /* flex-flow: wrap-reverse; */
 /* flex-wrap: nowrap; */
 /* align-items: center; */
 /* justify-content: center; */

}


.menu-header{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 1.5rem 0.5rem;
    margin-top: 0.5rem;
}
.menu-cards{
    height: 30vh;
    width: 16vw;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 4px gray; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* box-shadow: rgba(34, 34, 34, 0.4) 0px 30px 90px; */
    background-color: rgb(255, 253, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* padding: 0.5rem; */
    margin: 2rem 1.2rem;
    transition: 1s;
}

.menu-cards:hover{
    transform: scale(1.1);
}

.img-box{
    border: 1px solid black;
    height: 22vh;
    width: 14vw;
    margin: 0.5rem;
    }
    .service-card-img{
    height: 100px;
    width: 100px;
    }
    .service-name{
    font-size: 1.5rem;
    /* padding: 0.5rem; */
    font-weight: bolder;
    text-transform: capitalize;
  
}

.image{

}


.menu-name{
    font-size: 1.5rem;
    /* padding: 0.5rem; */
    font-weight: bolder;
    text-transform: capitalize;
}











/*Menu media query */


@media (max-width:640px) {
        
}

@media (max-width:768px) {

}

@media (max-width:1024px) {

}

@media (max-width:1280px) {

}

@media (max-width:1536px) {

}
