/* nav styling for toggle */


@media (min-width: 375px) {
    .header-nav{
        /* border: 1px solid red; */
        height: 6vh;
        width: 100%;
      }
   .nav-link-box{
    display: none;
   }
      

    
 
  
}

@media (min-width: 500px) {
  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 100%;
  }
.nav-link-box{
display: none;
}
  


}
@media (min-width: 640px) {

  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 100%;
  }
.nav-link-box{
display: none;
}

}

@media (min-width: 768px) {
  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 100%;
  }

  .nav-link-box{
    display: flex;
    margin-right: 1rem;
   }
   
  .nav-links{
      margin: 0.5rem 0.2rem;
  }
  
  .nav-links-a {
  /* border: 1px solid red; */
  padding: 0.5rem 0.5rem;

  }
 
  .link_btn{
    display: none;
  }

 
}

@media (min-width: 1024px) {
  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 100%;
  }

  .nav-link-box{
    display: flex;
   }
  .link_btn{
    display: none;
  }

}

@media (min-width: 1280px) {
  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 99vw;
  }

  .nav-link-box{
    display: flex;
   }
  .link_btn{
    display: none;
  }

}

@media (min-width: 1536px) {
  
  .header-nav{
    /* border: 1px solid red; */
    height: 6vh;
    width: 99vw;
  }

  .nav-link-box{
    display: flex;
   }
  .link_btn{
    display: none;
  }


}
