.header-nav{
  /* border: 1px solid red; */
  height: 6vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to left,
    #0516bc,
    #6305b9,
    #8e00b4,
    #af00af,
    #cb0aaa
  );
  position: relative;
  z-index: 100;
}
.nav-logo{
  font-size: 2rem;
  margin: 0rem 1rem;
  color: yellow;
}
.nav-link-box{
  display:flex;
  /* margin-top:5.5rem; */
  /* border: 1px solid red; */
  list-style-type: none;
  width: 25vw;
}

.nav-links{
    margin: 0.5rem 0.5rem;
}

.nav-links-a {
font-size: 1.1rem;
/* border: 1px solid red; */
padding: 0.5rem 1rem;
text-transform: capitalize;
color: white;
}

.link_btn{
  font-size: 1.5rem;
  color: white;
  display: initial;
}

.toggle-link-box {
  position: absolute;
  display: initial;
  background-color: #af00af;
  /* border: 1px solid red; */
width: 100%;
   /* m7rgin-top: -15rem; */
        /* padding: 0rem 0.1rem; */
        z-index: 100;
        transition: 1s;
}

.toggle-links{
padding: 0.5rem;
border-bottom: 1px solid white;
margin: 0rem 0.2rem;
}

.toggle-links-a{
  font-size: 1rem;
  /* border: 1px solid red; */
  padding: 0.2rem 1rem;
  text-transform: capitalize;
  color: white;
}
.hide-toggle-list{
  display: none;
}