.home-containor {
  
  /* border: 1px solid black; */
  height: 60vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.home-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 70vw;
  /* border: 1px solid black; */
  background-color: black;
  opacity: 0.8;
  box-shadow: rgba(205, 79, 255, 0.25) 0px 50px 100px -20px, rgba(120, 7, 124, 0.3) 0px 30px 60px -30px;
  /* box-shadow: 0px 0px 8px rgb(95, 0, 119); */
  color: white;
  /* opacity: 0.8; */
}

.card-heading {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    word-spacing: 0.3rem;
    z-index: 10;
}

.card-subheading {
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    word-spacing: 0.15rem;
    z-index: 10;
}

.card-descreption {
    text-align:center;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    word-spacing: 0.1rem;
    z-index: 10;
}

.home-btn {
  z-index: 10;
  text-transform: capitalize;
  padding: 0.6rem;
  font-size: 1.1rem;
  background-image: linear-gradient(to left bottom, #0966f1, #765efc, #b153fd, #e13df7, #fa06d9);

    color: #fad2fd;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 14px;
  transition: 1s;
}

.home-btn:hover {
  transform: scale(1.1);
  color: greenyellow;
  font-weight: bold;
  /* border: 1px solid rgb(253, 251, 251); */
}

/* Home media query */

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
