

@media (min-width: 260px){
    .contact-containor {
        height: 75vh;
        width: 100%;
      }
      .contact-form {
        padding: 0.5rem;
        border: 0.5px solid white;
        width: 85%;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1rem;
      }
    
      form textarea {
        font-size: 1.1rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 0rem 4rem;
      }
}
@media (min-width: 280px){
  .contact-containor {
    height: 75vh;
    width: 100%;
  }
  .contact-form {
    padding: 0.5rem;
    border: 0.5px solid white;
    width: 85%;
  }
  form label {
    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    font-size: 1rem;
  }

  form textarea {
    font-size: 1.1rem;
  }

  .form-btn {
    /* border: 1px solid black; */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0rem 4rem;
  }
}
@media (min-width: 300px){
    .contact-containor {
        height: 75vh;
       
      }
      .contact-form {
        width: 80%;
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 310px){
    .contact-containor {
        height: 75vh;
      }
      .contact-form {
        width: 80%;
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 320px){
    .contact-containor {
        height: 75vh;
      }
      .contact-form {
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}

@media (min-width: 345px){
    .contact-containor {
        height: 75vh;
      }
      .contact-form {
        width: 80%;
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 354px){
    .contact-containor {
        height: 75vh;
      }
      .contact-form {
        width: 80%;
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 360px){
    .contact-containor {
        height: 75vh;
      }
      .contact-form {
        width: 80%;
        padding: 1.2rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.3rem;
        /* border: 1px solid red; */
        font-size: 1.2rem;
      }
    
      form input {
        font-size: 1.3rem;
      }
    
      form textarea {
        font-size: 1.2rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 370px) {
  .contact-containor {
    /* border: 1px solid red; */
       height: auto;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 80%;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 375px) {
  .contact-containor {
    /* border: 1px solid red; */
       padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    width: 80%;
    /* border: 1px solid red; */

    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 400px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    width: 60%;
    /* border: 1px solid red; */

    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 412px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    width: 60%;
    /* border: 1px solid red; */

    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 450px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    width: 60%;
    /* border: 1px solid red; */

    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 500px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    width: 60%;
    /* border: 1px solid red; */

    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}
@media (min-width: 648px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 60%;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.1rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
}

@media (min-width: 768px) {
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 40vw;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */

  }

  form label {
    /* border: 1px solid red; */

    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  form textarea {
    /* border: 1px solid red; */

    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */

    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
  
}
@media (min-width: 912px) {
 
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 30vw;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */
  }

  form label {
    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form textarea {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  .form-btn {
    /* border: 1px solid red; */
    /* border: 1px solid black; */
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 4.48rem;
  }
  }
@media (min-width: 945px) {
 
  .contact-containor {
    /* border: 1px solid red; */
    height: auto;
    padding: 2rem 0rem ;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 30vw;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */
  }

  form label {
    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form textarea {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }


}
@media (min-width: 1024px) {
 
  .contact-containor {
    /* border: 1px solid red; */
    height: 105vh;
    width: 100%;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 30vw;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */
  }

  form label {
    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form textarea {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }


}

@media (min-width: 1280px) {
    
  .contact-containor {
    /* border: 1px solid red; */
    height: 90vh;
    width: 99vw;
  }
  .contact-form {
    /* border: 1px solid red; */
    width: 26vw;
    padding: 1.2rem;
    /* border: 0.5px solid white; */
  }

  .error-text{
    font-size: 1rem;
    text-transform: lowercase;
    padding: 0.2rem 0rem;
    color: rgb(236, 9, 9);
    /* border: 1px solid red; */
  }

  form label {
    padding: 0.3rem;
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form input {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }

  form textarea {
    /* border: 1px solid red; */
    font-size: 1.2rem;
  }
}

@media (min-width: 1536px) {
    .contact-containor {
        height:80vh;
      }
      .contact-form {
        width: 18vw;
        padding: 1.5rem 4rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.5rem;
        /* border: 1px solid red; */
        font-size: 1.4rem;
      }
    
      form input {
        padding: 0.5rem;
      font-size: 1.4rem;
      }
    
      form textarea {
        padding: 0.5rem;
        font-size: 1.47rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 2rem;
        font-size: 1.4rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 1550px) {
    .contact-containor {
        height:80vh;
      }
      .contact-form {
        width: 18vw;
        padding: 1.5rem 4rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.5rem;
        /* border: 1px solid red; */
        font-size: 1.4rem;
      }
    
      form input {
        padding: 0.5rem;
      font-size: 1.4rem;
      }
    
      form textarea {
        padding: 0.5rem;
        font-size: 1.47rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 2rem;
        font-size: 1.4rem;
        margin: 0rem 4.48rem;
      }
}
@media (min-width: 1600px) {
    .contact-containor {
        height:80vh;
      }
      .contact-form {
        width: 18vw;
        padding: 1.5rem 4rem;
        border: 0.5px solid white;
      }
      form label {
        padding: 0.5rem;
        /* border: 1px solid red; */
        font-size: 1.4rem;
      }
    
      form input {
        padding: 0.5rem;
      font-size: 1.4rem;
      }
    
      form textarea {
        padding: 0.5rem;
        font-size: 1.47rem;
      }
    
      .form-btn {
        /* border: 1px solid black; */
        padding: 0.5rem 2rem;
        font-size: 1.4rem;
        margin: 0rem 4.48rem;
      }
}
