

.contact-containor{
    color: white;
    /* border: 1px solid black; */
    height: 65vh;
    width: 99vw;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1498081959737-f3ba1af08103?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
/* background-image: url("https://images.unsplash.com/photo-1550951768-de2b75a3fc01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80"); */
}


.contact-heading{
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bolder;
}
.contact-form{
     padding: 1.2rem;
     display: flex;
     flex-direction: column;
     /* flex-wrap: wrap; */
     flex-wrap: nowrap;
     align-items:flex-start ;
     justify-content:center ;
/* border: 1px solid rgb(252, 248, 248); */
box-shadow: rgba(3, 3, 3, 0.19) 0px 10px 20px, rgba(3, 3, 3, 0.23) 0px 6px 6px;


}

form label {
    display: flex;
     flex-direction: column;
     /* flex-wrap: wrap; */
     flex-wrap: nowrap;
     align-items:flex-start ;
     justify-content:center ;
    padding: .5rem;
    /* border: 1px solid red; */
    font-size: 1.3rem;
    text-transform: capitalize;
}
form input {
    padding: 0.5rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(233, 233, 233);
}
form textarea{
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1.47rem;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}


.form-btn{
    text-transform: capitalize;
    /* border: 1px solid black; */
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    margin: 0rem 4.48rem;
    transition: .6s;
 border: none;
    background-image: linear-gradient(to left bottom, #0966f1, #765efc, #b153fd, #e13df7, #fa06d9);

    color: #faf9fa;

}

.form-btn:hover{
outline: none;
/* background-color: white; */
/* color: black; */
transform: scale(1.1);

}
/* contact media query */


@media (min-width:640px) {
        
}

@media (min-width:768px) {

}

@media (min-width:1024px) {

}

@media (min-width:1280px) {

}

@media (min-width:1536px) {

}
