/* footer media query */

@media (min-width: 360px) {
    .footer-containor {
      /* border: 1px solid black; */
  width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0rem;
    } 
  
     .social-links-box {
      /* border: 1px solid black; */
      width: 80vw;
      height: 30vh;
    } 
  
   .social-heading {
      font-size: 1.2rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid black; */
    } 
  
   .social-title {
      /* border: 1px solid black; */
      font-size: 0.9rem;
      padding: 0.5rem;
    } 
     .social-icons {
      /* border: 1px solid black; */
      font-size: 1.2rem;
      width: 75vw;
    } 
  
   .address-containor {
      height: 30vh;
      width: 80vw;
    } 
  
   .address-box {
      /* border: 1px solid black;   */
      padding: 0.1rem 1rem;
      font-size: 0.9rem;
      text-align: justify;
    } 
    .address-box:nth-child(1) {
      text-align: center;
    }
    .footer-subcontainor {
      font-size: 0.6rem;
      width: 100%;
    } 
  }
  /* ____________________________ */
  
  @media (min-width: 375px) {
    .footer-containor {
      /* border: 1px solid black; */
    width: 100%;
    padding: 1rem 0rem;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    } 
  
     .social-links-box {
      /* border: 1px solid black; */
      width: 80vw;
      height: 30vh;
    } 
  
   .social-heading {
      font-size: 1.2rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid black; */
    } 
  
   .social-title {
      /* border: 1px solid black; */
      font-size: 0.9rem;
      padding: 0.5rem;
    } 
     .social-icons {
      /* border: 1px solid black; */
      font-size: 1.2rem;
      width: 75vw;
    } 
  
   .address-containor {
      height: 30vh;
      width: 80vw;
    } 
  
   .address-box {
      /* border: 1px solid black;   */
      padding: 0.1rem 1rem;
      font-size: 0.9rem;
      text-align: justify;
    } 
    .address-box:nth-child(1) {
      text-align: center;
    }
    .footer-subcontainor {
      font-size: 0.6rem;
      width: 100%;
    } 
  }
  
  @media (min-width: 640px) {
    .footer-containor {
      /* border: 1px solid black; */
      width: 100%;
      height: 60vh;
      padding: 1rem 0rem;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem 0rem;
    } 
  
     .social-links-box {
      /* border: 1px solid black; */
      height:25vh;
      width: 80vw;
    
    } 
  
   .social-heading {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
  
      /* border: 1px solid black; */
    } 
  
   .social-title {
      /* border: 1px solid black; */
      font-size: 1.1rem;
      padding: 1rem;
    } 
     .social-icons {
      /* border: 1px solid black; */
      font-size: 1.2rem;
      width: 75vw;
    } 
  
   .address-containor {
      height:25vh;
      width: 80vw;
    } 
  
   .address-box {
      /* border: 1px solid black;   */
      padding: 0.1rem 1rem;
      font-size: 1.1rem;
      text-align: justify;
    } 
    .address-box:nth-child(1) {
      text-align: center;
    }
    .footer-subcontainor {
      font-size: 1.1rem;
      width: 100%;
    } 
  }
  @media (min-width: 768px) {
    .footer-containor {
        /* border: 1px solid black; */
        width: 100%;
        height: 50vh;
        padding: 1rem 0rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0rem;
      } 
    
       .social-links-box {
        /* border: 1px solid black; */
        height:20vh;
        width: 80vw;
      
      } 
    
     .social-heading {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    
        /* border: 1px solid black; */
      } 
    
     .social-title {
        /* border: 1px solid black; */
        font-size: 1.1rem;
        padding: 1rem;
      } 
       .social-icons {
        /* border: 1px solid black; */
        font-size: 1.2rem;
        width: 75vw;
      } 
    
     .address-containor {
        height:20vh;
        width: 80vw;
      } 
    
     .address-box {
        /* border: 1px solid black;   */
        padding: 0.1rem 1rem;
        font-size: 1.1rem;
        text-align: justify;
      } 
      .address-box:nth-child(1) {
        text-align: center;
      }
      .footer-subcontainor {
      width: 100%;

        font-size: 1.1rem;
      } 
  }
  
  @media (min-width: 1024px) {
    .footer-containor {
      width: 100%;
      height: 40vh;
      /* border: 1px solid rgb(228, 11, 11); */
      padding: 1rem 0rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .social-links-box {
      /* border: 1px solid rgb(221, 10, 10); */
      width: 35vw;
      height: 40vh;
    }
  
    .social-heading {
      font-size: 1.8rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid rgb(231, 14, 14); */
    }
  
    .social-title {
      /* border: 1px solid rgb(216, 8, 8); */
      font-size: 1.2rem;
      padding: 0.5rem;
      word-spacing: 0.2rem;
    }
    .social-icons {
      /* border: 1px solid rgb(226, 8, 8); */
      font-size: 1.2rem;
      width: 32vw;
    }
  
    .address-containor {
      height: 40vh;
      width: 35vw;
      /* border: 1px solid rgb(226, 8, 8); */

    }
  
    .address-box {
      /* border: 1px solid rgb(226, 8, 8); */

      padding: 0.1rem 0.5rem;
      font-size: 1.1rem;
    }
    .address-box:nth-child(1) {
      text-align: center;
    }
  
    .footer-subcontainor {

      width: 100%;
      padding: 1.1rem 0rem;
    }
  }
  
  @media (min-width: 1050px) {
    .footer-containor {
      width: 100%;
      height: 40vh;
      /* border: 1px solid rgb(228, 11, 11); */
      padding: 1rem 0rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .social-links-box {
      /* border: 1px solid rgb(221, 10, 10); */
      height: 30vh;
      width: 35vw;
    }
  
    .social-heading {
      font-size: 1.8rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid rgb(231, 14, 14); */
    }
  
    .social-title {
      /* border: 1px solid rgb(216, 8, 8); */
      font-size: 1.2rem;
      padding: 0.5rem;
      word-spacing: 0.2rem;
    }
    .social-icons {
      /* border: 1px solid rgb(226, 8, 8); */
      font-size: 1.2rem;
      width: 32vw;
    }
  
    .address-containor {
      height: 30vh;
      width: 35vw;
      /* border: 1px solid rgb(226, 8, 8); */

    }
  
    .address-box {
      /* border: 1px solid rgb(226, 8, 8); */

      padding: 0.1rem 0.5rem;
      font-size: 1.1rem;
    }
    .address-box:nth-child(1) {
      text-align: center;
    }
  
    .footer-subcontainor {

      width: 100%;
      padding: 1.1rem 0rem;
    }
  }
  
  @media (min-width: 1280px) {
    .footer-containor {
      /* border: 1px solid black; */
      width: 99vw;
      padding: 1rem 0rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .social-links-box {
      /* border: 1px solid black; */
      width: 30vw;
      height: 30vh;
    }
  
    .social-heading {
      font-size: 1.8rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid black; */
    }
  
    .social-title {
      /* border: 1px solid black; */
      font-size: 1.3rem;
      padding: 0.5rem;
      word-spacing: 0.2rem;
    }
    .social-icons {
      /* border: 1px solid black; */
      font-size: 1.2rem;
      width: 29vw;
    }
  
    .address-containor {
      height: 30vh;
      width: 30vw;
    }
  
    .address-box {
      /* border: 1px solid black;   */
      padding: 0.1rem 0.5rem;
      font-size: 1.2rem;
    }
    .address-box:nth-child(1) {
      text-align: center;
    }
  
    .footer-subcontainor {
      width: 99vw;
      padding: 1.1rem 0rem;
    }
  }
  
  @media (min-width: 1536px) {
    .footer-containor {
      /* border: 1px solid black; */
      padding: 1rem 0rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .social-links-box {
      /* border: 1px solid black; */
      width: 30vw;
      height: 30vh;
    }
  
    .social-heading {
      font-size: 1.8rem;
      padding: 0.5rem 0.5rem;
  
      /* border: 1px solid black; */
    }
  
    .social-title {
      /* border: 1px solid black; */
      font-size: 1.3rem;
      padding: 0.5rem;
      word-spacing: 0.2rem;
    }
    .social-icons {
      /* border: 1px solid black; */
      font-size: 1.2rem;
      width: 29vw;
    }
  
    .address-containor {
      height: 30vh;
      width: 30vw;
    }
  
    .address-box {
      /* border: 1px solid black;   */
      padding: 0.1rem 0.5rem;
      font-size: 1.2rem;
    }
    .address-box:nth-child(1) {
      text-align: center;
    }
  
    .footer-subcontainor {
      padding: .5rem 0rem;
    }
  }
  