
/* about media query */
@media (min-width: 260px) {

  
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid rgb(255, 8, 8);  */
     height:auto;
    width: 90vw;
    padding: 0rem; 
  }
  .about-text {
    
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 0.8rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 0.8rem;
      
  }
  
  }
@media (min-width: 280px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid rgb(179, 170, 170);  */
     height:auto;
    width: 90vw;
    padding: 0rem; 
  }
  .about-text {
    
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 0.8rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 0.8rem;
      
  }
  
  }
@media (min-width: 300px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid rgb(179, 170, 170);  */
     height:auto;
    width: 90vw;
    padding: 0rem; 
  }
  .about-text {
    
    font-size: 1rem;
    padding: 0.6rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
      
  }
  
  
  }
@media (min-width: 310px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid rgb(179, 170, 170);  */
     height:auto;
    width: 90vw;
    padding: 0rem; 
  }
  .about-text {
    
    font-size: 1rem;
    padding: 0.6rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
      
  }
  
  }
@media (min-width: 345px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid black;  */
     height:auto;
    width: 90vw;
    padding: 0.5rem; 
  }
  .about-text {
    
    font-size: 1rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
      
  }
  
  }
@media (min-width: 354px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid black;  */
     height:auto;
    width: 90vw;
    padding: 0.5rem; 
  }
  .about-text {
    
    font-size: 1rem;
  }

  .customers-containor {
      height: 70vh;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      /* border: 1px solid rgb(112, 18, 18); */
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
      
  }
  
  }
@media (min-width: 360px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid black;  */
     height:auto;
    width: 90vw;
    padding: 0.5rem; 
  }
  .about-text {
    
    font-size: 1rem;
  }

  .customers-containor {
           /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
      width: 90vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      
  }
  
  .happy-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 12vh;
    width: 60vw;
    font-size: 1.1rem;
      
  }
}
@media (min-width: 370px) {
 
  .about-containor {
    
    height: auto;
    width: 100%;
    padding: 0;
  }
  
    .about-heading {
      
    }
  .about-subcontainor {
     /* border: 1px solid black;  */
     height:auto;
    width: 80vw;
    padding: 0.5rem; 
  }
  .about-text {
    
    font-size: 1rem;
  }

  .customers-containor {
           /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
      width: 80vw;
      padding: 2rem;
      flex-direction: column;
      flex-wrap: wrap; 
      
  }
  
  .happy-customers {
    height: 15vh;
    width: 50vw;
    font-size: 1.1rem;
    
  }
  
  .total-customers {
    height: 15vh;
    width: 50vw;
    font-size: 1.1rem;
      
      
  }
  
  }
  @media (min-width: 375px) {
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      
      font-size: 1rem
    }
    
    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 80vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    
    .happy-customers {
      height: 15vh;
      width: 50vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
        
    }
    
  }
  @media (min-width: 400px) {
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      
      font-size: 1rem
    }
  
    
    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 80vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    
    .happy-customers {
      height: 15vh;
      width: 50vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
        
    }
    
  }
  @media (min-width: 500px) {
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      
      font-size: 1rem
    }
  
    
    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 80vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    
    .happy-customers {
      height: 15vh;
      width: 50vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
        
    }
    
  }
  @media (min-width: 640px) {
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
    
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      
    }
  
    
    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 80vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    
    .happy-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
        
    }
      }
  
  @media (min-width: 768px) {
  
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 70vw;
      padding: 0.5rem; 
    }
    .about-text {
      
      text-align: justify;
      font-size: 1rem;
      padding: 0.5rem;
      word-spacing: 0.1rem;
    }
    
    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 70vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    
    .happy-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
      margin: 0.5rem;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      margin: 0.5rem;

         
    }
  }
  
  
  @media (min-width: 912px) {
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
      }
      
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(219, 16, 16);  */
       height:auto;
      width: 70vw;
      padding: 0.5rem; 
    }
    .about-text {
      
    }

    .customers-containor {
             /* border: 1px solid rgb(139, 100, 100); */
      height:auto;
        width: 70vw;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: wrap; 
        
    }
    .happy-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 50vw;
      font-size: 1.1rem;
        
    }
  }
  @media (min-width: 945px) {
   
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
 
      }
      .about-heading {
        
      }
      
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
      height:auto;
      width: 80vw;
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */
    }
  
    .customers-containor {
        height:auto;
        width: 90vw;
        flex-direction: row;
      /* border: 1px solid rgb(139, 100, 100); */

          
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    .total-customers {
      height: 15vh;
      width: 20vw;
      font-size: 1.1rem;
        
    }
  }
  @media (min-width: 1024px) {
   
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
 
      }
      .about-heading {
        
      }
      
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
      height:auto;
      width: 80vw;
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */
    }
  
    .customers-containor {
        height: 40vh;
        width: 80vw;
        flex-direction: row;
          
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    .total-customers {
      height: 15vh;
      width: 20vw;
      font-size: 1.1rem;
        
    }
  }
  @media (min-width: 1050px) {
   
    .about-containor {
        
        height: auto;
        width: 100%;
        padding: 0;
 
      }
      .about-heading {
        
      }
      
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
       height:auto;
      width: 80vw;
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */
    }
  
    .customers-containor {
        height: 40vh;
        width: 80vw;
        flex-direction: row;
          
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    .total-customers {
      height: 15vh;
      width: 20vw;
      font-size: 1.1rem;
        
    }
  }
  
  @media (min-width: 1280px) {
    .about-containor {
        
        height: auto;
        width: 99vw;
        padding: 0;
      }
      
      .about-heading {
        
      }
      
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */
    }
  
    .customers-containor {
        height: 30vh;
        width: 80vw;
        padding: 2rem;
        flex-direction: row;
        
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    .total-customers {
      height: 15vh;
      width: 20vw;
          
    }
  }
  
  @media (min-width: 1536px) {
     .about-containor {
        
        height: auto;
        width: 99vw;
        padding: 0;
      }
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
      height:10vh;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */

    }
    .customers-containor {
        height: 30vh;
        width: 80vw;
        
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 20vw;
        
    }  
  }
  @media (min-width: 1550px) {
     .about-containor {
        
        height: auto;
        width: 99vw;
        padding: 0;
      }
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */

    }
    .customers-containor {
        height: 30vh;
        width: 80vw;
        
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 20vw;
        
    }  
  }
  @media (min-width: 1600px) {
     .about-containor {
        
        height: auto;
        width: 99vw;
        padding: 0;
      }
      .about-heading {
        
      }
    .about-subcontainor {
       /* border: 1px solid rgb(201, 22, 22);  */
       height:auto;
      width: 80vw;
      padding: 0.5rem; 
    }
    .about-text {
      /* border: 1px solid rgb(139, 100, 100); */

    }
    .customers-containor {
        height: 30vh;
        width: 80vw;
        
    }
    .happy-customers {
      height: 15vh;
      width: 20vw;
      
    }
    
    .total-customers {
      height: 15vh;
      width: 20vw;
        
    }  
  }
  